@import '../../index.css';

.letter-space,
.letter-space-primary {
  @apply bg-blue-cadet border-2 font-bold h-10 py-1 shadow-md text-center text-lg text-white uppercase w-7;

  border-color: theme('colors.blue.columbia');
  border-bottom-color: theme('colors.gray.600');
  border-right-color: theme('colors.gray.600');
}

.letter-space-secondary {
  @apply bg-yellow-pale border-2 font-bold h-10 py-1 shadow-md text-center text-lg text-blue-prussian uppercase w-7;

  border-color: theme('colors.blue.columbia');
  border-bottom-color: theme('colors.gray.600');
  border-right-color: theme('colors.gray.600');
}

.letter-space-lg {
  @apply text-2xl h-11 w-9;
}
